@tailwind base;
@tailwind components;
@tailwind utilities;

/* TipTap editor base styles */
.tiptap {
  outline: none;
  padding: 1.5rem;
  min-height: 500px;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.tiptap h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

.tiptap h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap blockquote {
  border-left: 3px solid #d1d5db;
  padding-left: 1em;
  margin: 0.5em 0;
  color: #6b7280;
}

.tiptap code {
  background-color: #f3f4f6;
  border-radius: 0.25em;
  padding: 0.15em 0.3em;
  font-size: 0.9em;
}

.tiptap pre {
  background-color: #1f2937;
  color: #e5e7eb;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em 0;
  overflow-x: auto;
}

.tiptap pre code {
  background: none;
  padding: 0;
  color: inherit;
}

.tiptap hr {
  border-top: 2px solid #e5e7eb;
  margin: 1em 0;
}

.tiptap p {
  margin: 0.25em 0;
  line-height: 1.7;
}

/* Collaboration cursor styles */
.collaboration-cursor__caret {
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
